/* body{
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}
.container{
	margin: 10px 145px 10px;
	background: black;
	width: 1200px;
	height: 2060px;
	box-shadow: 0px 0px 100px orange;
	border: 1px solid orange;
}
.header{
	width: 100%;
	height: 130px;
}
	ul{
		list-style: none;
		height: 130px;
		margin-left: 495px;
		margin-top: 0px;
		
	}
		ul li{
			
			display: inline-block;
			padding: 50px 1px;
		}
			ul li a{
				color: orange;
				text-decoration: none;
				font-size: 21px;
				padding: 15px 10px;
				font-family: 'Times New Roman';
				
			}
				.hi:hover{
				font-size: 25px;
				border: 1px solid orange;
				box-shadow: 0px 0px 10px orange;

			}
.heading{
	height: 120px;
	width: 100%;
}
	.about{
		font-size: 60px;
		padding: 9px;
		text-decoration: underline;
		color: aqua;
		font-weight: bold;
		font-family: "Verdana";
		text-shadow: 0px 0px 10px blue;
	}
.image1{
	width: 100%;
	height: 300px;
}
	.pic1{
		width: 50%;
		height: 300px;
		float: left;
	}
		img{
			width: 95%;
			height: 95%;
			margin-top: 11px;
			margin-bottom: 50px;
			border: 2px solid white;
			border-radius: 20px;
		}
			img:hover{
				width: 97%;
				height: 97%%;
				border: 3px solid white;
			}
 */
